/* tournament bracket */
*,
    *:after,
    *:before {
        box-sizing: border-box;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    html {
        font-size: 1rem;
    }

    .tournament {
        display: flex;
        justify-content: center;
    }

    .tournament li {
        display: flex;
    }

    .tournament li ul {
        flex: 0 0 auto;
        position: relative;
    }

    .tournament li ul:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        height: 50%;
        transform: translate(100%, -50%);
        border: 1px solid fuchsia;
        border-left: 0;
        border-radius: 0 10px 10px 0;
    }

    .tournament li ul:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        padding: 1px 0 0;
        background: fuchsia;
        transform: translate(200%, -50%);
    }

    .tournament li .game {
        width: 200px;
        flex: 0 1 auto;
        margin: 10px 0 10px 30px;
        align-self: center;
        border-radius: 0.25rem;
        overflow: hidden;
    }

    .tournament li .game:first-child {
        margin-left: 0;
    }

    .tournament li .game>* {
        padding: 1rem 1.25rem;
        background: #FFF;
        border-left: 6px solid fuchsia;
    }

    .tournament li .game>*:not(:last-child) {
        border-bottom: 1px solid #f2f2f2;
    }

    .tournament li .game>*:first-child {
        border-left-color: #ef8f6e;
        color: #ef8f6e;
    }

    .tournament li .game+ul {
        margin-left: 30px;
        margin-right: 0;
    }

    .tournament li .game+ul:before {
        left: 0;
        right: auto;
        transform: translate(-100%, -50%);
        border: 1px solid fuchsia;
        border-right: 0;
        border-radius: 10px 0 0 10px;
    }

    .tournament li .game+ul:after {
        left: 0;
        right: auto;
        transform: translate(-200%, -50%);
    }

/* pulse and raise buttons */

    .pulse:hover,
    .pulse:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
    }


    .pulse {
        --color: #ef6eae;
        --hover: #ef8f6e;
    }

    button {
        color: var(--color);
        transition: 0.25s;
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
    }

    button:hover,
    button:focus {
        border-color: var(--hover);
        color: #fff;
    }

    .raise:hover,
    .raise:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
    }

    .pulse {
        --color: #ef6eae;
        --hover: #ef8f6e;
    }

    .raise {
        --color: #ffa260;
        --hover: #e5ff60;
    }

    button {
        color: var(--color);
        transition: 0.25s;
    }

    button:hover,
    button:focus {
        border-color: var(--hover);
        color: #fff;
    }

    button {
        display: inline-block
    }

/* body */
    #indexBody {
        color: #fff;
        text-align: center;
        background-color: #17181c;
        background-image: -webkit-linear-gradient(-75deg, #17181c 49.95%, #bcf647 50.05%);
        min-height: 300px;
    }

    h1 {
        font-weight: 400;
    }

    #code {
        color: #bcf647;
        font: inherit;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar {
        border-bottom: 2px solid fuchsia;
        padding: 0px;
        padding-left: 10px;
    }

/* neon titles */
    #title {
        font-family: 'Orbitron', sans-serif;
        margin-top: 20px;
        margin-bottom: 0px;
        color: white;
        font-size: 5em;
        text-align: center;
        animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    @keyframes neonGlow {
        0% {
            text-shadow: 0 0 10px rgba(255, 255, 255, .8), 0 0 20px rgba(255, 255, 255, .8), 0 0 22px rgba(255, 255, 255, .8), 0 0 40px rgba(66, 220, 219, .8), 0 0 60px rgba(66, 220, 219, .8), 0 0 80px rgba(66, 220, 219, .5), 0 0 100px rgba(66, 220, 219, .5), 0 0 140px rgba(66, 220, 219, .5), 0 0 200px rgba(66, 220, 219, .5);
        }

        100% {
            text-shadow: 0 0 2px rgba(255, 255, 255, .8), 0 0 8px rgba(255, 255, 255, .8), 0 0 10px rgba(255, 255, 255, .8), 0 0 20px rgba(66, 220, 219, .8), 0 0 30px rgba(66, 220, 219, .8), 0 0 40px rgba(66, 220, 219, .8), 0 0 50px rgba(66, 220, 219, .5), 0 0 80px rgba(66, 220, 219, .5);
        }
    }

    .top {
        font-family: 'Orbitron', sans-serif;
        margin-top: 20px;
        color: white;
        font-size: 3em;
        text-align: center;
        animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
        padding-left: 5px;
        padding-right: 5px;
    }

    #play:hover {
        color: fuchsia;
        cursor: pointer;
    }

    @keyframes neonGlow {
        0% {
            text-shadow: 0 0 10px rgba(255, 255, 255, .8), 0 0 20px rgba(255, 255, 255, .8), 0 0 22px rgba(255, 255, 255, .8), 0 0 40px rgba(66, 220, 219, .8), 0 0 60px rgba(66, 220, 219, .8), 0 0 80px rgba(66, 220, 219, .5), 0 0 100px rgba(66, 220, 219, .5), 0 0 140px rgba(66, 220, 219, .5), 0 0 200px rgba(66, 220, 219, .5);
        }

        100% {
            text-shadow: 0 0 2px rgba(255, 255, 255, .8), 0 0 8px rgba(255, 255, 255, .8), 0 0 10px rgba(255, 255, 255, .8), 0 0 20px rgba(66, 220, 219, .8), 0 0 30px rgba(66, 220, 219, .8), 0 0 40px rgba(66, 220, 219, .8), 0 0 50px rgba(66, 220, 219, .5), 0 0 80px rgba(66, 220, 219, .5);
        }
    }

    i {
        font-size: 0.6em;
    }

    .topGifs,
    .favorites, 
    .profileWins {
        border-radius: 10px;
    }

    h3 {
        display: inline-block;
        color: #bcf647;
        font-size: 20px;
    }

/* box rainbow gradient */
    .gradient {
        width: 100%;
        padding: 0px;
    }

/* pick a gif page */
.clearfix::after {
overflow: auto;
  }

#gifBody {
        color: #fff;
        text-align: center;
        background-color: #17181c;
        background-image: -webkit-linear-gradient(-75deg, #17181c 49.95%, #bcf647 50.05%);
        min-height: 1000px;   
    }

    #gifTitle {
    font-family: 'Orbitron', sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
    font-size: 3em;
    text-align: center;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    #gifDiv {
        margin: 0 auto;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .eachGif {
        margin: 10px;
        border: #bcf647 dotted 5px;
        background-color:  rgba(214, 100, 209, 0.5);
        display: inline-block;
    }

    #instructions {
        color: #bcf647;
        font: inherit;
        font-size: 20px;
        margin-bottom: 0px;
    }

    /* profile page */

    .favorites{
        min-height: 500px;
        margin: 20px;
    }

 /* login page */

.loginContainer {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    margin-top: 40px;
    border-radius: 10px;
}

.emojiMessage {
    margin-top: 0px;
}

.winsMessage {
    margin-bottom: 0px;
}

.gif {
    width: 100%
}

#profileRow {
    justify-content: center;
    text-align: center
}